.ItemContainer {
  min-height: 160px;
  min-width: 160px;
  background-color: rgb(224, 184, 204);
}

.ItemContainer img {
  max-width: 110px;
  max-height: 110px;
  min-width: 110px;
  min-height: 110px;
}

.ItemNameContainer {
  background-color: rgb(238, 41, 140);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.ItemName {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;

}