.RollLine {
  height: 200px;
  width: 900px;
  position: relative;
}

.ForCursorContainer{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.InnerRibbon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.Cursor{
  position: absolute;
  width: 5px;
  height: 240px;
  background-color: rgb(255, 0, 0);
  left: 450px;
  top: -20px;
  z-index: 5;
}
