.Backdrop{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 199;
  cursor: pointer;
}


.Hide{
  display: none;
}

@media(min-width:768px) {
  .Backdrop {
    display: none;
  }
}