.RollWindow {
  /* height: 100%; */
  padding: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}


@media (min-width: 576px) {
  .RollWindow {
    max-width: 540px;
  }

}

@media (min-width: 768px) {
  .RollWindow {
    max-width: 720px;
  }
}


@media (min-width: 992px) {
  .RollWindow {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .RollWindow {
    max-width: 1180px;
  }
}