.LootBox {
  min-width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(206, 206, 206);
  transition-duration: 0.3s;
}

.LootBox:hover {
  cursor: pointer;
}

.LootBoxContainer:hover {
  background-color: rgb(241, 238, 238);
}

.CaseImg {
  width: 170px;
  height: 170px;
  top: -10%;
  left: -13%;
  position: absolute;
  clip: rect(20px);
}

.CaseName {
  font-size: 9pt;
  display: block;
  font-weight: bold;
}

.CaseInfo {
  font-size: 8pt;
}

.crop {
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
}