 .ChooseWindow {
   height: 100%;
   width: 100%;
   padding: 30px;
   margin-top: 20px;
   background-color: #fff;
   overflow-y: auto;

   display: grid;
   grid-auto-rows: 160px;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
 }