.SideDrawer {
  padding-top: 100px;
  width: 60vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #A7CF5D;
  z-index: 200;
  /* transition: transform 0.2s ease-out; */
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
}

.Logo {
  width: 100px;
  height: 100px;
}

.SideDrawer ul {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 19pt;
  padding: 0;
}

.SideDrawer ul li {
  padding: 20px;
}
