.Logo{
    width: 50px;
    height:50px;
}

.LogoImg{
  background-image: url(../../../assets/img//chestnut_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}